body{
    font-family: 'Roboto', sans-serif;
    background-color: #085d73;
}

/* navbar css starts here  */
.bg-light{
    background-color: #e6951b!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #101111!important;
}

.nav-link{
    color: #0c0d0e!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #2b5529;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(223, 128, 165)!important;
    color: rgb(0, 0, 0)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgba(223, 88, 151, 0.418)!important;
}